<link rel="stylesheet" class="aplayer-secondary-style-marker" href="https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.css"><script src="https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="https://cdn.jsdelivr.net/npm/meting@1/dist/Meting.min.js"></script>.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px!important;
    bottom: 20px!important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0!important;
    bottom: 20px!important
}